@model DesignUrFixie.Models.Bike

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Do you wish to order this Bike?</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BikeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BikeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FrameColour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FrameColour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SaddleColour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaddleColour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HandlebarColour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HandlebarColour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WheelColour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WheelColour)
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BikeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<div class="form-group">
    <!-- Order Bike Button -->
    <div>
            <h2>Make a Stripe Payment</h2>
            
        <form action="@Url.Action("Result","Home")" method="POST">  <!-- was Charger changed to Index, Home-->
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="pk_test_An5BWj2xsp8M8ebFFyqHEEha"
                    data-image="~/Content/Images/DURFLogo3.png"
                    data-name="Design-Ur Fixie"
                    data-description=""
                    data-currency="EUR"
                    data-amount="52500">
            </script>
        </form>
    </div>
</div>

<!--  THE IMAGE  -->
<div class="col-sm-8">
    <!--    BIKE IMAGE    -->
    <div id="GreyBike">
        <img src="~/Content/Images/GreyBike.png" class="img-responsive">
    </div>
    <div>
        <div id="FrameImage">
        </div>
        <div id="SaddleImage">
        </div>
        <div id="HandlebarImage">
        </div>
        <div id="WheelsImage">
        </div>
    </div>
</div>